.card-container{
    display: flex;
    flex-direction: column;
    background-color: #0f73dd;
    transition: transform ease-in 200ms;
    border: 1px solid grey;
    padding: 25px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.card-container:hover{
    transform: scale(1.05);
}